# Kopieer dit bestand naar .env en vul je eigen waarden in
# .env wordt NOOIT gedeeld of gecommit (staat in .gitignore)

META_AD_ACC_ID=act_456865435092610
META_TOKEN=jouw_meta_token_hier
FB_TOKEN=jouw_facebook_token_hier
FB_PAGE_ID=130663027026797
IG_ACCOUNT_ID=17841417992851224
